body {
    background-color: #110E0E;
    color: #EEE;

    text-align: center;
}

a {
    color: #77D87C;
}

a:visited {
    color: #3F7F41;
}

.flexcontainer {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/* vertically centred in parent */
.vcentre {
    height: 100%;
}

/* <br> but for a flexbox conainter */
.flexbreak {
    flex-basis: 100%;
    height: 0;
}
