@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --star-colour: #b7b7b7;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.content {
    background-color: #00000000;
}

/* start of css from https://dev.to/0shuvo0/pure-css-infinite-spacegalaxy-with-just-one-div-4o02 */
.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: var(--star-colour);
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px var(--star-colour),38vw -4vh 0px 0px var(--star-colour),-20vw -48vh 1px 2px var(--star-colour),-39vw 38vh 3px 1px var(--star-colour),-42vw -11vh 0px 3px var(--star-colour),12vw 15vh 3px 3px var(--star-colour),42vw 6vh 3px 2px var(--star-colour),-8vw 9vh 0px 2px var(--star-colour),34vw -38vh 1px 0px var(--star-colour),-17vw 45vh 3px 1px var(--star-colour),22vw -36vh 3px 2px var(--star-colour),-42vw 1vh 1px 0px var(--star-colour);
    animation: zoom 15s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
/* end of css from https://dev.to/0shuvo0/pure-css-infinite-spacegalaxy-with-just-one-div-4o02 */
